.uk-badge-green {
	background: green !important;
}

body {
	overflow: hidden;
}

body::-webkit-scrollbar { 
	display: none; 
}

.font-size-xs {
	font-size: 11px;
}

.font-size-m {
	font-size: 13px;
}

.font-grey {
	color: #444;
}

.td-m {
	width: 200px;
	word-break: break-all;
}

.td-l {
	width: 250px;
}

/* .app {
	display: flex;
	min-height: 100vh;
	align-items: center;
	padding: 100px 30px 30px 30px;
} */


/* Remetrika start */

.remetrika {
	height: calc(100vh - 68px);
	overflow: hidden;
	display: flex;
}

.remetrika-left {
	width: 250px;
}

.remetrika-right {
	width: calc(100% - 250px);
	padding: 30px;
	overflow-y: scroll;
	height: 100%;
}

.stub {
	height: 400px;
	width: 100%;
	position: relative;
}
.remetrika-counters {
	position: relative;
}

.rem-av-counters {
	height: 300px;
	overflow-y: scroll;
	width: 100%;	
}

.panel-block_wrap {
	flex-wrap: wrap;
}

.remetrika-counters.is-loading::after {
	-webkit-animation: spinAround .5s infinite linear;
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
	content: "";
	top: 50%;
	left: 50%;
    display: block;
    height: 1em;
    position: absolute;
    width: 1em;
}

.stub.is-loading::after {
	-webkit-animation: spinAround .5s infinite linear;
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    position: relative;
    width: 1em;
}

/* Remetrika end */

.navbar {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.466);
}

.navbar-item {
	font-size: 16px;
}

.navbar-item:hover {
	text-decoration: none;
}

.panel-block .form-group {
	width: 100%;
}

.map {
	margin-bottom: 50px;	
}

.search {
	height: calc(100vh - 68px);
	overflow-y: scroll;
}

.table thead th {
	vertical-align: middle;
}

.container {
	max-width: 1280px;
}

.select {
	width: 100%;
}

.expand {
	width: 100%;
}

.google-search {
	display: flex;
	height: calc(100vh - 68px);
}

.google-search-left {
	width: 300px;
	flex-shrink: 0;
	padding: 15px;
}

.google-search-right {
	width: calc(100% - 300px);
	padding: 15px;
	height: calc(100vh - 68px);
	overflow-y: scroll;	
}

.google-search-right.is-loading {
	/* filter: blur(5px); */
}

.google-export-title {
	transition: all .3s;
	opacity: 0;
	transform: translateY(20px);
}

.google-export .title {
	transition: opacity 300ms;
}

.google-export-listitem {
	display: inline-block;
	font-size: 11px;
	color: #444;
	padding: 5px 3px 5px 10px;
	margin: 0 5px 5px 0;
	background: rgb(240, 240, 240);
	border-radius: 10px;
	opacity: 0;
	transform: translateX(10px);
	transition: opacity 200ms, transform 200ms;
}

.google-export-items > button {
	margin-right: 10px;
	transition: opacity .3s, transform .3s;
	margin-top: -5px;
    margin-bottom: 5px;
}

.google-export-listitem span {
	display: inline-block;
	margin-right: 5px;
}

.google-export-listitem-enter-done {
	opacity: 1;
	transform: translateX(0px)
}

.google-export-enter {
	transition: all .3s;
	transform: translateY(0px);	
	opacity: 1;
}

.google-export-exit {
	transition: all .3s;	
	opacity: 0;
	transform: translateY(30px);
}

/* .google-export {
	opacity: 0;
	transform: translateX(-40px);
	transition: opacity 200ms, transform 200ms;
} */

.google-quick-view {
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	height: 100%;
	background: #fff;
	box-shadow: 0px 0px 40px 0px rgba(68, 68, 68, 0.342);
	transition: transform 200ms;
	transform: translateX(110%);
	padding: 44px;
	z-index: 31;

}

.google-quick-view .delete {
	position: absolute;
	top: 10px;
	left: 10px;
}

.control.is-loading::after, .stub.is-loading::after {
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2)) !important;
    position: absolute!important;
}

.card {
	border: none;
	box-shadow: 0px 0px 0px 0px transparent !important;
}

.google-quick-view-opened {
	transform: translateX(0%);
	
}


.centered {
	text-align: center;
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes shake {
	0%, 100% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-5px, 0, 0);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(5px, 0, 0);
	}
	}
	@keyframes shake {
	0%, 100% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-5px, 0, 0);
	}
	20%, 40%, 60%, 80% {
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(5px, 0, 0);
	}
	} 





  
  